<template name="featureList">
  <div class="container">
    <div class="row">
      <div class="feature col-md-4">
        <div class="feature-title">
          <h4>
            <i class="fa fa-rocket"></i>&nbsp;
            {{> sauceCMS elementName="firstHeader"}}
          </h4>
        </div>
        <div class="feature-description">
          {{> sauceCMS elementName="firstParagraph"}}
        </div>
      </div>
      <div class="feature col-md-4">
        <div class="feature-title">
          <h4>
            <i class="fa fa-rocket"></i>&nbsp;
            {{> sauceCMS elementName="secondHeader"}}
          </h4>
        </div>
        <div class="feature-description">
          {{> sauceCMS elementName="secondParagraph"}}
        </div>
      </div>
      <div class="feature col-md-4">
        <div class="feature-title">
          <h4>
            <i class="fa fa-rocket"></i>&nbsp;
            {{> sauceCMS elementName="thirdHeader"}}
          </h4>
        </div>
        <div class="feature-description">
          {{> sauceCMS elementName="thirdParagraph"}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="feature col-md-4">
        <div class="feature-title">
          <h4>
            <i class="fa fa-rocket"></i>&nbsp;
            {{> sauceCMS elementName="fourthHeader"}}
          </h4>
        </div>
        <div class="feature-description">
          {{> sauceCMS elementName="fourthParagraph"}}
        </div>
      </div>
      <div class="feature col-md-4">
        <div class="feature-title">
          <h4>
            <i class="fa fa-rocket"></i>&nbsp;
            {{> sauceCMS elementName="fifthHeader"}}
          </h4>
        </div>
        <div class="feature-description">
          {{> sauceCMS elementName="fifthParagraph"}}
        </div>
      </div>
      <div class="feature col-md-4">
        <div class="feature-title">
          <h4>
            <i class="fa fa-rocket"></i>&nbsp;
            {{> sauceCMS elementName="sixthHeader"}}
          </h4>
        </div>
        <div class="feature-description">
          {{> sauceCMS elementName="sixthParagraph"}}
        </div>
      </div>
    </div>
  </div>
</template>
