<template name="featureList">
  <div class="container">
    <div class="row">
      <div class="feature col-md-4">
        <div class="feature-title">
          <h4>
            <i class="fa fa-rocket"></i>&nbsp;
            Fast Development
          </h4>
        </div>
        <div class="feature-description">
          {{> sauceCMS elementName="firstParagraph"}}
        </div>
      </div>
      <div class="feature col-md-4">
        <div class="feature-title">
          <h4>
            <i class="fa fa-rocket"></i>&nbsp;
            Fast Development
          </h4>
        </div>
        <div class="feature-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec nibh iaculis, faucibus orci non, ultrices justo.
        </div>
      </div>
      <div class="feature col-md-4">
        <div class="feature-title">
          <h4>
            <i class="fa fa-rocket"></i>&nbsp;
            Fast Development
          </h4>
        </div>
        <div class="feature-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec nibh iaculis, faucibus orci non, ultrices justo.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="feature col-md-4">
        <div class="feature-title">
          <h4>
            <i class="fa fa-rocket"></i>&nbsp;
            Fast Development
          </h4>
        </div>
        <div class="feature-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec nibh iaculis, faucibus orci non, ultrices justo.
        </div>
      </div>
      <div class="feature col-md-4">
        <div class="feature-title">
          <h4>
            <i class="fa fa-rocket"></i>&nbsp;
            Fast Development
          </h4>
        </div>
        <div class="feature-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec nibh iaculis, faucibus orci non, ultrices justo.
        </div>
      </div>
      <div class="feature col-md-4">
        <div class="feature-title">
          <h4>
            <i class="fa fa-rocket"></i>&nbsp;
            Fast Development
          </h4>
        </div>
        <div class="feature-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec nibh iaculis, faucibus orci non, ultrices justo.
        </div>
      </div>
    </div>
  </div>
</template>
