<template name="productList">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="img/cat1.jpg" alt="...">
          <div class="caption">
            <h3>{{> sauceCMS elementName="firstProductHeader"}}</h3>
            <p>{{> sauceCMS elementName="firstProductParagraph"}}</p>
            <p>
              <a href="#" class="btn btn-primary" role="button">Buy Now</a>&nbsp;
              <a href="#" class="btn btn-default" role="button">Learn More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="img/cat1.jpg" alt="...">
          <div class="caption">
            <h3>{{> sauceCMS elementName="secondProductHeader"}}</h3>
            <p>{{> sauceCMS elementName="firstProductParagraph"}}</p>
            <p>
              <a href="#" class="btn btn-primary" role="button">Buy Now</a>&nbsp;
              <a href="#" class="btn btn-default" role="button">Learn More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="img/cat1.jpg" alt="...">
          <div class="caption">
            <h3>This One is not editable</h3>
            <p>This message is too important to let clients change it. Only text installed through a sauceCMS template tag is editable.</p>
            <p>
              <a href="#" class="btn btn-primary" role="button">Buy Now</a>&nbsp;
              <a href="#" class="btn btn-default" role="button">Learn More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="img/cat1.jpg" alt="...">
          <div class="caption">
            <h3>{{> sauceCMS elementName="fourthProductHeader"}}</h3>
            <p>{{> sauceCMS elementName="firstProductParagraph"}}</p>
            <p>
              <a href="#" class="btn btn-primary" role="button">Buy Now</a>&nbsp;
              <a href="#" class="btn btn-default" role="button">Learn More</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
